.playlistItem{
    text-align:center;
    width:20%;
    margin-bottom:10px;
}

.playlistItem:hover{
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .playlistItem{
        text-align:center;
        width:50%;
        padding: 10px 15px;
        margin-bottom:10px;
    }
}