.Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Artwork{
    display: inline-block;
    width: 80px;

}

@media only creen and (max-width: 600px) {
    .Container{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .Artwork{
        margin: 0 auto;
    }

}